.hpLayout{
    display: flex;
    flex-direction: row;
    flex: 1 1;
    flex-wrap: nowrap;
}
.point{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.point-icon{
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: white;
}
.pin-radiation{
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background: green;
    border: 1px solid green;
    box-shadow: black 4px 4px 4px;
}
.pin-hp{
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background: red;
    border: 1px solid red;
    box-shadow: black 4px 4px 4px;
}