@using BoardGame.Models.PlayerState
<div class="playerPlate">
    <div class="hiLayout">
        <div class="decorate"></div>
        <SpecialBar Special="CurrentSpecial" Exp="CurrentExp"></SpecialBar>
        <TraitTokenBar TraitTokens="CurrentTraitTokens"></TraitTokenBar>
    </div>
    <div class="lowerLayout">
     <HpBar CurrentHp="10" CurrentRadiation="1"></HpBar>
    </div>
</div>
@code{
    public SPECIAL CurrentSpecial = new SPECIAL(SPECIALType.S | SPECIALType.P);
    public Experience CurrentExp = new Experience(SPECIALType.P);
    public List<TraitTokenType> CurrentTraitTokens = [TraitTokenType.Cheerful, TraitTokenType.Idol];
}

