.playerPlate{
    display: block;
    position: relative;
    width: 800px;
    height: 200px;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
}
.lowerLayout{
    display: flex;
    background: green;
    border-radius: 4px;
    margin: 10px;
}
.hiLayout{
    border-radius: 4px;
    background: red;
}
.text{
    color: green;  
}