<div class="playerPlate">
    <div class="hiLayout">
        <div class="decorate"></div>
        <div class="specialLayout">
            <div class="word">
                <div class="word-S"></div>
            </div>
            <div class
                 ="xp">
                <div class="pin enable"></div>
            </div>
            <div class="word">
                <div class="word-P"></div>
            </div>
            <div class="xp">
                <div class="pin"></div>
            </div>
            <div class="word">
                <div class="word-E"></div>
            </div>
            <div class="xp">
                <div class="pin"></div>
            </div>
            <div class="word">
                <div class="word-C"></div>
            </div>
            <div class="xp">
                <div class="pin"></div>
            </div>
            <div class="word">
                <div class="word-I"></div>
            </div>
            <div class="xp">
                <div class="pin"></div>
            </div>
            <div class="word">
                <div class="word-A"></div>
            </div>
            <div class="xp">
                <div class="pin"></div>
            </div>
            <div class="word">
                <div class="word-L"></div>
            </div>
            <div class="xp">
                <div class="pin"></div>
            </div>
        </div>
        <div class="statusLayout">
            <div class="status1"></div>
            <div class="status1"></div>
            <div class="status1"></div>
        </div>
    </div>
    <div class="lowerLayout">
     <HpBar CurrentHp="10" CurrentRadiation="1"></HpBar>
    </div>
</div>
@code{
}

