@page "/"
@using BoardGame.View.Pages.PrepareGame

<PageTitle>Index</PageTitle>

@switch (CurrentStep)
{
    case PrepareStep.None:
        <Main SetStep="() => SetStep(PrepareStep.Scenario)"></Main>
        break;
    case PrepareStep.Scenario:
        <SelectScenario SetStep="() => SetStep(PrepareStep.PlayerCount)"></SelectScenario>
        break;
    case PrepareStep.PlayerCount:
        <SelectPlayerCount SetStep="() => SetStep(PrepareStep.Character)"></SelectPlayerCount>
        break;
    case PrepareStep.Character:
        <SelectCharacter SetStep="() => Finish()"></SelectCharacter>
        break;
    default:
            break;
}