@page
@using BoardGame.Model.Tiles
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="playBoard">
    @{
        var items = Model._startScenario.Map2;
        var lineCount = 0;
        foreach (var line in items)
        {
            <div class="customRow">
            @if (lineCount % 2 == 1)
            {
                <div class="emptyTill"></div>
            }
            @foreach (var tilCell in line)
            {
                <div class="till @Model.GetTilColor(tilCell.TileType)">
                    @if (tilCell.IdTil != 0)
                    {
                        var til = Model._repo.GetPlayFieldTilById(tilCell.IdTil);
                        var names = til.NodeProps.Where(x => x.Meet != null)
                            .Select(x => x.Meet.Name)
                            .ToList();
                        @string.Join(',', names);
                    }
                </div>
            }

            @{
                lineCount += 1;
            }
            </div>
        }
    }
    
</div>
<style>
    .playBoard{
        display: flex;
        flex-direction: column;
        flex: 0 0;
        background: gray;
    }
    .customRow{
        display: flex;
        flex-direction: row;
        flex: 0 0;
    }
    .emptyTill{
        width: 50px;
        height: 100px;
        border: 1px solid black;
    }
    .till{
        width: 100px;
        height: 100px;
        border: 1px solid black;
    }
    .till.green{
        background: green;
    }
    .till.red{
        background: red;
    }
    .till.start{
        background: white;
    }
    .till.id{
        background: gold;
    }
    
</style>