@page "/"
@using BoardGame.View.Pages.PrepareGame
@using BoardGame.View.Pages.Game

<PageTitle>Index</PageTitle>
@if (IsLoadGame)
{
    <Game IdGame="@IdGame" PlayersCount="PlayersCount" ScenarioType="ScenarioType"></Game>
}
else
{
    @switch (CurrentStep)
    {
        case PrepareStep.None:
            <Main SetStep="() => SetStep(PrepareStep.Scenario)" SetStepContinue="(idGame) => Finish(idGame)"></Main>
            break;
        case PrepareStep.Scenario:
            <SelectScenario SetStep="() => SetStep(PrepareStep.PlayerCount)" SetScenario="(arg) => SetScenarioType(arg)"></SelectScenario>
            break;
        case PrepareStep.PlayerCount:
            <SelectPlayerCount SetStep="() => SetStep(PrepareStep.Character)" SetPlayersCount="(arg) => SetPlayersCount(arg)"></SelectPlayerCount>
            break;
        case PrepareStep.Character:
            <SelectCharacter PlayerCount="PlayersCount" SetStep="() => Finish()"></SelectCharacter>
            break;
        default:
            break;
    }
}