
<div class="d-grid gap-2">
    <button type="button" class="btn btn-primary" @onclick="async () => await NextScreen()">
        Новая игра
    </button>
    <button type="button" class="btn btn-primary" disabled="@disableContinue" @onclick="async () => await ContinueGame()">
        Продолжить
    </button>
</div>
@code {
    
}