<h3>StartSettingGame</h3>

<div>
    <h3>Выберите сценарий</h3>
    <div>
        <select class="form-control"
            @bind="SelectedScenarioId">
            @foreach (var scenario in Scenarios.ScenariosList)
            {
                <option value="@scenario.Value">@scenario.NameScenario</option>
            }
        </select>
    </div>
</div>
<button @onclick="async() => await NextScreen()">Next</button>
