<h3>SelectPlayerCount</h3>
<div>
    <h3>
        Количество игроков
    </h3>
    <div>
        <input @bind="PlayerCount" type="range" min="1" max="4"/>
    </div>
</div>
<button @onclick="async() => await NextScreen()">Next</button>
@code {
    
}